@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,100&display=swap');

/* .App{
  display: flex;
  justify-content: center;
  height: 50px;
} */

.body {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}