@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,100&display=swap');

.App-header{
  display: flex;
  justify-content: center;
  height: 50px;
}

.title {
  font-family: Saira;
  font-weight: italic;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}