.about {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}

.row {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 100%;
    /* display: flex;
    justify-content: center; */
}

.box img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.authors{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-content: center;
}

.author {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 5px;
}

.author:hover {
    text-decoration: underline;     
}

.info-title{
    display: flex;
    justify-content: center;
}