.Detail {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    margin: auto;
    width: 50%;
}

.form-title{
    display : block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: normal;
    font-style: normal;
    margin: 20px;
    margin-bottom: 10px;
}